.card {
  width: 413px;
  position: relative;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 0 0;
}

.card__image {
  width: 413px;
  height: 413px;
  object-fit: cover;
  display: block;
  margin: 0;
  border-radius: 8px;
  position: relative;
  display: inline-block;
  z-index: 1;
}

.card__delete-btn {
  background-image: url(../images/delete-icon.svg);
  height: 32px;
  width: 32px;
  position: absolute;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 371px;
  z-index: 5;
  border-radius: 50%;
  border: none;
  background-color: transparent;
}

.card__delete-btn:hover {
  background-image: url(../images/delete-hover.svg);
}

.card__title {
  color: #212121;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-btn {
  background: transparent url(../images/like-icon.svg) center no-repeat;
  width: 23px;
  height: 20px;
  padding: 0;
  margin: 0;
  border: none;
  opacity: 0.4;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 1;
}

.card__like-btn_liked {
  background: url(../images/liked-icon.svg);
  opacity: 1;
}

.card__like-btn_liked:hover {
  background: url(../images/liked-icon-hover.svg);
}

@media screen and (max-width: 627px) {
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    gap: 12px;
  }

  .card__image {
    max-width: 288px;
    height: 288px;
  }

  .card__content {
    width: 288px;
    margin: 0;
    padding: 0;
  }

  .card__title {
    font-size: 16px;
    line-height: 1;
  }

  .card__delete-btn {
    right: 10px;
  }
}
