.footer {
  padding: 34px 20px;
  display: flex;
  justify-content: center;
}

.footer__content {
  text-align: center;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #212121;
  opacity: 70%;
}
